*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'poppins', sans-serif;
    overflow-x: hidden;
}
.navbar{
    background-color: #fd6569;
    width: 100%;
    
    padding: 10px;

}
.cont-overlay{
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    display: none;
    z-index: 1;
    
}
.cont-book{
    width: 25%;
    padding: 10px;
    background-color: black;
    color: white;
    margin: 20px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;

}
.cont-book h2{
    color: #fd6569;
    margin-bottom: 15px;
}
.cont-book button{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top:10px;
    border-radius: 20px;
    background-color: #fd6569;
    border: none;
    font-weight: bold;
}
.plusbutton{
    position: fixed;
    color: black;
    bottom: 3%;
    right: 3%;
    border-radius: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #fd6569;
    border: none;
    font-size: 40px;
    
    cursor: pointer;

}
.addbookdetails{
    background-color: #fd6569;
    width: 40%;
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;
}
.addbookdetails input{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 18px;
}
.addbookdetails input::placeholder{
  color: black;
   
}
.addbookdetails textarea{
    width: 100%;
    background: transparent;
    
    border: 2px solid black;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 18px;
}
.addbookdetails textarea::placeholder{
  color: black;
   
}
.addbookdetails input:focus{
    outline: none;
}
.addbookdetails textarea:focus{
    outline: none;
}
.addbookdetails button{
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}
